:root {
    --background-color: white;
    --text-color: black;
}

[data-theme='dark'] {
    --background-color: #121212;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
.moviesPage{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.mainPage {
    display: flex;
    flex-direction: column;
}
.headerMain {
    height: 10vh;
    background-color: #e74420;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.allOfImg {
    width: 14vw;
    margin-top: 5vh;
    color: #252593;
}
.littleCardMovie {
    color: #252593;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.headerMinDiv {
    background-color: #e74420;
}

.paginationMainDiv{

}
.pagBut{
    background-color: #031944;
    color: rgba(255, 255, 255, 0.99);
    height: 6vh;
    width: 25vw;
}
.searchBut{
    background-color: #031944;
    height: 3.5vh;
    width: 10vw;
}
.switchBut{
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.99);
    height: 5vh;
    width: 10vw;
}
.indicatorDiv{
    background-color: #031944;
    color: rgba(255, 255, 255, 0.99);
    height: 6vh;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchDiv{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.searchInput{
    width: 22vw;
}
.oneMovie{
    display: flex;
    flex-direction: column;

}
.genreDiv{
    display: flex;
    flex-direction: row;
}
.cardOfSerchedMovie{
    display: flex;
    flex-direction: column;

}
form{
    display: flex;
    justify-content: center;
}