body{
    background: darkgray;
    color: white;
}
.moviesPage{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.mainPage {
    display: flex;
    flex-direction: column;
}
.headerMain {
    height: 10vh;
    background-color: #000f1e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.allOfImg {
    width: 14vw
}
.littleCardMovie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.headerMinDiv {
    background-color: #031944;
}

.paginationMainDiv{

}
button{
    background-color: #031944;
    color: rgba(255, 255, 255, 0.99);
    height: 6vh;
    width: 25vw;
}
.indicatorDiv{
    background-color: #031944;
    color: rgba(255, 255, 255, 0.99);
    height: 6vh;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oneMovie{
    display: flex;
    flex-direction: column;
}